@mixin font-face($font-family, $source, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url($source) format("woff");
    }
}